<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liuguilin.only">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--百度地图-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.OnlyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uUDdZ6qPShrYcLzV9BhA6GkwaQBxUVwh" />


        <!--主页-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--首页-->
        <activity
            android:name=".IndexActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--高德地图定位-->
        <service android:name="com.amap.api.location.APSService" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="07e4e3deba98311f4e9749f8170a9166" />

        <!--引导页-->
        <activity
            android:name=".GuideActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <!--网页-->
        <activity android:name=".WebViewActivity" />
        <!-- 定位 -->
        <activity
            android:name=".LocationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 设置 -->
        <activity
            android:name=".SettingActivity"
            android:label="@string/action_settings" />
        <!--附近的人-->
        <activity
            android:name=".MapActivity"
            android:label="@string/tv_surrounding" />

        <activity android:name=".SearchActivity"
            android:label="@string/tv_search"/>

    </application>

</manifest>
